
@{
    ViewData["Title"] = "Service types manager";

    var pageSizeList = new List<SelectListItem>
    {
        new SelectListItem { Value = "10", Text = "10" },
        new SelectListItem { Value = "20", Text = "20" },
        new SelectListItem { Value = "50", Text = "50" }
    };
}
@model WebApp.Models.ServiceTypeIndexVm

<h3>Service type manager</h3>

<div class="col-md-4">
    <a asp-action="CreateServiceType" asp-controller="ServiceType" class="btn btn-primary mb-3">
        + Add Service Type
    </a>
</div>

@if (Model.ServiceTypes != null && Model.ServiceTypes.Any())
{
    <h3 class="mt-4">Results</h3>
    <form asp-action="Index" method="get" class="row g-3 mb-4">

    <div class="col-md-2">
        <select asp-for="PageSize"
                asp-items="pageSizeList"
                name="PageSize"
                class="form-select"
                onchange="this.form.submit()"
                data-pagesize="@pageSizeList"></select>
    </div>
    </form>

    <div id="serviceTypeTableContainer">
        <partial name="_ServiceTypeTablePartial" model="Model" />
    </div>


    <div class="modal fade" id="serviceTypeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update service type:  <span id="nameSpan"></span> </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="serviceTypeForm" method="post">
                        <input type="hidden" id="serviceTypeIdInput" name="serviceTypeId">
                        <div class="mb-3">
                            <label for="serviceTypeNameInput" class="form-label">New service type Name</label>
                            <input type="text" class="form-control" id="serviceTypeNameInput" name="name"
                                   placeholder="Enter service type name:" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <a asp-action="Search"
       asp-controller="Service"
       class="btn btn-secondary text-white">
        Back
    </a>

}
else
{
    <div class="alert alert-warning mt-4" role="alert">
        No services found for the selected criteria.
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function() {
            $('.update-serviceType').click(function() {
                const serviceTypeId = $(this).data('servicetypeid');
                const name = $(this).data('name');

                $('#nameSpan').text(name);
                $('#serviceTypeIdInput').val(serviceTypeId);
                $('#serviceTypeModal').modal('show');
            });

            $('#serviceTypeForm').submit(function(e) {
                e.preventDefault();
                const formData = $(this).serialize();

                $.ajax({
                    url: '@Url.Action("Update", "ServiceType")',
                    type: 'POST',
                    data: formData,
                    success: function() {
                        $('#serviceTypeModal').modal('hide');
                        alert('Service type updated successfully!');
                         location.reload();
                    },
                    error: function(xhr) {
                        alert('Error updating service type: ' + xhr.responseText);
                    }
                });
            });

             $('#serviceTypeTableContainer').on('click', '.page-ajax', function (e) {
                    e.preventDefault();

                    var page = $(this).data('page');
                    var pageSize = $(this).data('pagesize');

                    $.ajax({
                        url: '@Url.Action("Index", "ServiceType")',
                        type: 'GET',
                        data: {
                            page,
                            pageSize,
                            partial: true
                        },
                        success: function (result) {
                            $('#serviceTypeTableContainer').html(result);
                        },
                        error: function (xhr) {
                            console.error("Pagination AJAX error:", xhr.responseText);
                        }
                    });
             });
        });
    </script>
}