@model WebApp.Models.AuthVM
@if (!User.Identity.IsAuthenticated)
{
    <form asp-action="Login" method="post">
    <input asp-for="Email" placeholder="Email" />
    <input asp-for="Password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
<a asp-action="Register" asp-controller="Auth">Register</a>
}
