@model WebApp.Models.ProfessionalIndexVM

@{
    ViewData["Title"] = "Professional List";

}
@if (Model == null)
{
    <div>No professionals found.</div>
}
<h2>Professionals List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Professionals)
        {
            <tr>
                <td>@p.UserName</td>
                <td>@p.CityName</td>
            </tr>
        }
    </tbody>
</table>
